body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.NavBar{
  background: pink;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  box-shadow: 2px 2px 4px grey;
  margin-bottom: 1em;
}

.NavBar ul{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
}

.NavBar li{
  padding: 10px;
  color: black;
  font-size: xx-large;
  font-weight: bold;
}
